.image{
    padding: 40px;

}
.image img {
    height: 180px;
    width: 250px;
}
.image a {
    text-decoration: none;
    color: aliceblue;
}
.image p{
    width: 250px;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}